@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

.logincontainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../Home/Assets/MerchStore_bg.png");
  min-height: 100vh;
}

.logo {
  margin-bottom: 0px;
}

.photo {
  height: 100px;
  width: 200px;
  padding-left: 2rem;
  padding-top: 2rem;
}

.contentSection {
  width: 100%;
  margin: 0px 0px;
  padding-bottom: 0;
}

.merch {
  font-style: normal;
}

.heading1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 0px;
  padding-bottom: 0rem;
  font-weight: 500;
  font-size: 70px;
  line-height: 117px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.heading2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 98px;
  line-height: 117px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  position: absolute;
  color: #ffffff;
  width: 100%;
}

.heading3 {
  font-family: "Montserrat", sans-serif;
  padding-top: 110px;
  padding-bottom: 50px;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  color: #ffffff;
}

.inputBox {
  text-align: center;
  padding: 0.7rem;
}

.inputBox1 {
  padding: 1rem;
  width: 350px;
  background: rgba(217, 217, 217, 0.28);
  border-radius: 30px;
  border-width: 0px;
  outline: none;
  color: white;
}

.inputBox1:hover {
  padding: 1rem;
  width: 350px;
  background: rgba(217, 217, 217, 0.28);
  border-radius: 30px;
  border-width: 0px;
  transform: scale(1.06);
  transition-duration: 0.4s;
  outline: none;
}

.inputBox1::placeholder {
  text-align: left;
  padding-left: 2rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 100;
  color: #ffffff;
  font-size: medium;
  letter-spacing: 0.075em;
}

.button {
  padding: 1rem;
  width: 250px;
  background: #36bbbd;
  border-radius: 30px;
  border-width: 0px;
}

.button:hover {
  padding: 1rem;
  width: 250px;
  background: #36bbbd;
  border-radius: 30px;
  border-width: 0px;
  transform: scale(1.06);
  transition-duration: 0.4s;
}

.buttontext {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: large;
  letter-spacing: 0.075em;
  color: #000;
}

@media (max-width: 768px) {
  .heading2 {
    font-size: 35px;
  }

  .heading3 {
    font-size: 32px;
    padding-top: 75px;
  }

  .photo {
    height: 75px;
    width: 150px;
    position: "absolute";
    text-align: "center";
    padding-left: 0rem;
    padding-bottom: 0rem;
  }
  .logo {
    text-align: center;
  }
  .heading1 {
    font-size: 40px;
  }
  .inputBox1 {
    width: 250px;
  }
  .button {
    width: 200px;
  }
  .button:hover {
    transform: scale(0.999);
    transition-duration: 0.4s;
  }
  .inputBox1:hover {
    width: 250px;
  }
}
