.container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../Assets/MerchStore_bg.png");
}

.logo {
  display: flex;
  justify-content: center;
  filter: drop-shadow(10px 10px 10px rgb(40, 37, 37));
}

.heading2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 98px;
  line-height: 117px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  position: absolute;
  color: #FFFFFF;
  width: 100%;

  padding-top: 390px;
}

.heading3 {
  font-family: 'Montserrat', sans-serif;
  padding-top: 480px;
  padding-bottom: 50px;
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  color: #FFFFFF;
}