@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

.navbar {
  overflow: hidden;
  text-align: center;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 0rem;
}

.navbar a {
  float: none;
  text-align: center;
  padding: 14px 30px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;

}

h2 {
  text-align: center;
}

@media (max-width: 768px) {

  .navbar {
    overflow: hidden;
    text-align: center;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
  .navbar a {
    float: none;
    text-align: center;
    padding: 10px 5px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
  
  }

}