@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

.container {
    text-align: center;
    padding: 0.5rem;
}
.sub{
    border-color: #000;
    border-width: 3px;
    /* text-align: left; */
}
.button {
    padding: 1rem;
    width: 250px;
    background: #36BBBD;
    border-radius: 30px;
    border-width: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: large;
    letter-spacing: 0.075em;
    color: #000;
}
.button:hover {
    transform: scale(1.06);
    transition-duration: 0.4s;
  }
  .button1 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 180px;
    background: #000000;
    border-radius: 30px;
    border-width: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: large;
    letter-spacing: 0.05em;
    color: rgb(255, 255, 255);
}
.discription{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    padding-top: 0.3rem ;
    padding-bottom: 0.3rem;
    border: #000;
}
.button1:hover{
    transform: scale(1.06);
    transition-duration: 0.4s;
}
@media (max-width: 768px) {
    .button {
        padding: 1rem;
        width: 200px;
        background: #36BBBD;
        border-radius: 30px;
        border-width: 0px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: large;
        letter-spacing: 0.075em;
        color: #000;
    }
    .button1 {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 160px;
        background: #000000;
        border-radius: 30px;
        border-width: 0px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: large;
        letter-spacing: 0.05em;
        color: rgb(255, 255, 255);
    }
    .imgcon{
        display: none;
    }
  }