@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

.navbar {
  overflow: hidden;
  /* text-align: center; */
  /* margin: auto; */
  padding-top: 2rem;
  padding-bottom: 0rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.navbar img {
  width: 15%;
  max-width: 180px;
  /* display: flex; */
  position: absolute;
  left: 20px;
  /* display: inline-block; */
  
}

.links {
  display: inline-block;
  /* text-align: center; */
  margin: 0 auto;
  /* margin-top: 80px; */
}

.navbar a {
  float: none;
  text-align: center;
  padding: 14px 15px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  /* color: #000; */

}
.logo {
  margin-bottom: 0px;
}

.photo {
  height: 80px;
  width: 160px;
  text-align: left;
}

h2 {
  text-align: center;
}
@media (max-width: 768px) {

  .navbar {
    overflow: hidden;
    text-align: center;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
  .navbar a {
    padding: 10px 5px;
    font-size: 15px;
  }

  @media (max-width: 600px) {
    .navbar img {
      display: none;
    }
  }
  
}